@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .arcade {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }